# {{ ansible_managed }}
# This file contains sensitive credentials - mode 0600, owner root

[{{ s3_backup_rclone_remote_name }}]
type = s3
provider = {{ s3_backup_s3_provider }}
{% if s3_backup_s3_endpoint | length > 0 %}
endpoint = {{ s3_backup_s3_endpoint }}
{% endif %}
region = {{ s3_backup_s3_region }}
access_key_id = {{ s3_backup_s3_access_key }}
secret_access_key = {{ s3_backup_s3_secret_key }}
acl = private
no_check_bucket = true
{% if s3_backup_s3_force_path_style %}
force_path_style = true
{% endif %}

[{{ s3_backup_rclone_crypt_name }}]
type = crypt
remote = {{ s3_backup_rclone_remote_name }}:{{ s3_backup_s3_bucket }}
filename_encryption = standard
directory_name_encryption = true
password = {{ s3_backup_crypt_password_obscured }}
password2 = {{ s3_backup_crypt_password2_obscured }}
